/*! Componyx.UI | (c) E.H. Daanen / Componyx | BUSL-1.1 | componyx.com/license */
.validator.theme
{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: inherit;
}

    .validator.theme:not(.summary)
    {
        display: inline-block;
    }

    .validator.theme:empty
    {
        display: none;
    }

    .validator.theme > li
    {
        height: 28px;
        line-height: 28px;
        position: relative;
        vertical-align: top;
    }

    .validator.theme:not(.tooltip) > li
    {
        padding-left: 0.5rem;
    }


    .validator.theme > li span.icon
    {
        display: inline-block;
        margin-right: 5px;
        font-family: 'UI';
    }

        .validator.theme > li span.icon::after
        {
            content: '\e90b';
        }

    .validator.theme.invalid > li span.icon::after
    {
        content: '\e90a';
    }

    .validator.theme.validating > li span.icon
    {
        display: none;
    }
