/*! Componyx.UI | (c) E.H. Daanen / Componyx | BUSL-1.1 | componyx.com/license */
.color-picker.theme
{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    line-height: 0px;
}

.color-picker.theme div.saturation, .color-picker.theme div.hue, .color-picker.theme div.input-container
{
    display: inline-block;
}

.color-picker.theme .content > div
{
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: visible;
}

.color-picker.theme div.saturation
{
    position: relative;
    width: 256px;
    height: 256px;
    background-color: red;
    overflow: hidden;
    cursor: default;
    border-style: solid;
    touch-action: none;
}

.color-picker.theme div.saturation::before
{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-picker.theme div.saturation::after
{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-picker.theme div.hue
{
    position: relative;
    cursor: default;
    width: 20px;
    height: 256px;
    margin-left: 5px;
    margin-right: 15px;
    border-style: solid;
    background: linear-gradient(to bottom,  rgba(255,0,0,1) 0%,rgba(255,0,255,1) 16%,rgba(0,0,255,1) 33%,rgba(0,255,255,1) 50%,rgba(0,255,0,1) 67%,rgba(255,255,0,1) 84%,rgba(255,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    touch-action: none;
}

.color-picker.theme div.hue::before
{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(to right,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/* color boxes */
.color-picker.theme div.preview
{
    position: relative;
    width: 16px;
    height: 16px;  
    border-style: none;
    border-radius: 2px;
    border-color: black;
    background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), 
    linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
}

.color-picker.theme div.preview > div
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-style: none;
    border-radius: 2px;
    border-color: #fff;
}

.color-picker.theme div.preview
{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
 }

.color-picker.theme div.preview > div
{
    border-style: solid;
}


/* inputs */
.color-picker.theme div.input-container
{
    touch-action: none;
    vertical-align: top;
}

.color-picker.theme div.input-container > div.hsb
{
    margin-top: 12px;
}

.color-picker.theme div.input-container > div.rgb,
.color-picker.theme div.input-container > div.alpha,
.color-picker.theme div.input-container > div.hex
{
    margin-top: 8px;
}

.color-picker.theme div.input-container > div.hsb > *,
.color-picker.theme div.input-container > div.rgb > *,
.color-picker.theme div.input-container > div.alpha > *,
.color-picker.theme div.input-container > div.hex > *
{
    display: block;
    margin-top: 1px;
}

.color-picker.theme div.input-container .numeric-box.theme input
{
    height: 20px;
    line-height: 20px;
}

.color-picker.theme div.input-container .numeric-box.theme > div.button-holder > .button.theme.plus,
.color-picker.theme div.input-container .numeric-box.theme > div.button-holder > .button.theme.minus
{
    height: 10px;
}

.color-picker.theme div.input-container input
{
    font-size: 11px;
    width: 31px;
}

.color-picker.theme div.input-container > div.hex input
{
    width: 50px;
    min-width: 0;
    height: 20px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
}

.color-picker.theme div.input-container > div.hsb > *:nth-child(1)::before,
.color-picker.theme div.input-container > div.hsb > *:nth-child(2)::before,
.color-picker.theme div.input-container > div.hsb > *:nth-child(3)::before,
.color-picker.theme div.input-container > div.rgb > *:nth-child(1)::before,
.color-picker.theme div.input-container > div.rgb > *:nth-child(2)::before,
.color-picker.theme div.input-container > div.rgb > *:nth-child(3)::before,
.color-picker.theme div.input-container > div.alpha > *::before,
.color-picker.theme div.input-container > div.hex > *::before,
.color-picker.theme div.input-container > div.hsb > *:nth-child(1)::after,
.color-picker.theme div.input-container > div.hsb > *:nth-child(2)::after,
.color-picker.theme div.input-container > div.hsb > *:nth-child(3)::after,
.color-picker.theme div.input-container > div.rgb > *:nth-child(1)::after,
.color-picker.theme div.input-container > div.rgb > *:nth-child(2)::after,
.color-picker.theme div.input-container > div.rgb > *:nth-child(3)::after,
.color-picker.theme div.input-container > div.alpha > *::after,
.color-picker.theme div.input-container > div.hex > *::after
{
    content: '';
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 11px;
    width: 14px;
    line-height: 20px;
}

.color-picker.theme div.input-container > div.hsb > *:nth-child(1)::before
{
    content: 'H';
}

.color-picker.theme div.input-container > div.hsb > *:nth-child(2)::before
{
    content: 'S';
}

.color-picker.theme div.input-container > div.hsb > *:nth-child(3)::before
{
    content: 'B';
}

.color-picker.theme div.input-container > div.hsb > *:nth-child(1)::after
{
    content: '°';
    text-align: center;
}

.color-picker.theme div.input-container > div.hsb > *:nth-child(2)::after
{
    content: '%';
    text-align: center;
}

.color-picker.theme div.input-container > div.hsb > *:nth-child(3)::after
{
    content: '%';
    text-align: center;
}

.color-picker.theme div.input-container > div.rgb > *:nth-child(1)::before
{
    content: 'R';
}

.color-picker.theme div.input-container > div.rgb > *:nth-child(2)::before
{
    content: 'G';
}

.color-picker.theme div.input-container > div.rgb > *:nth-child(3)::before
{
    content: 'B';
}

.color-picker.theme div.input-container > div.alpha > *::before
{
    content: 'A';
}

.color-picker.theme div.input-container > div.alpha > *::after
{
    content: '%';
    text-align: center;
}

.color-picker.theme div.input-container > div.hex > *::before
{
    content: '#';
}

/* pickers */
.color-picker.theme div.saturation > div.picker
{
    cursor: default;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    top: -5px;
    left: -5px;
    z-index: 1;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    border-color: #000;
}

.color-picker.theme div.saturation > div.picker::after
{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-style: solid;
    border-radius: 100%;
    border-width: 1px;
    border-color: #fff;
}

.color-picker.theme div.hue > div.picker
{
    cursor: default;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 28px;
    height: 9px;
    border-style: solid;
    background-color: transparent;
    border-color: black;
}

.color-picker.theme div.hue > div.picker::before
{
    position: absolute;
    content: '';
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-width: 4px;
    border-style: solid;
    background-color: transparent;
    border-color: white;
}

.color-picker.theme div.hue > div.picker::after
{
    position: absolute;
    content: '';
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    border-color: black;
}

/* popup box */
.color-picker.theme div.box
{
    border-style: solid;
    border-radius: 2px;
}

.color-picker.theme .box div.content
{
    padding: 5px;
}

.color-picker.theme .box div.content > div > div
{
    margin-top: 5px;
}

.color-picker.theme .box div.content > div > div > .button.theme
{
    margin-right: 4px;
}