/*! Componyx.UI | (c) E.H. Daanen / Componyx | BUSL-1.1 | componyx.com/license */
.numeric-box.theme
{
    display: inline-flex;
    vertical-align: top;
    align-items: center;
}

.numeric-box.theme input, .numeric-box.theme div.button-holder
{
    display: inline-block;
    vertical-align: top;
}

    .numeric-box.theme input, .numeric-box.theme div.button-holder:not(.vertical)
    {
        display: inline-flex;
    }

    .numeric-box.theme input
    {
        width: 100%;
        min-width: 5ch !important;
        max-width: 14ch;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        padding: 0px 4px 0px 4px;
        border-style: solid !important;
    }

.numeric-box.theme.buttons input
{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* disable default buttons */
    .numeric-box.theme input[type="number"]::-webkit-outer-spin-button,
    .numeric-box.theme input[type="number"]::-webkit-inner-spin-button
    {
        -webkit-appearance: none;
        margin: 0;
    }

    .numeric-box.theme input[type="number"]
    {
        -moz-appearance: textfield;
    }


.numeric-box.theme div.button-holder
{
    position: relative;
    left: -1px;
}

    .numeric-box.theme div.button-holder:not(.vertical) .button.theme.minus
    {
        float: left;
    }

    .numeric-box.theme div.button-holder.vertical .button.theme
    {
        display: block;
        position: relative;
        width: 18px;
        height: 14px;
        padding: 0;
        min-width: 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

        .numeric-box.theme div.button-holder:not(.vertical) .button.theme
        {
            width: 28px;
        }

        .numeric-box.theme div.button-holder.vertical .button.theme.plus
        {
            border-bottom-right-radius: 0px;
            border-bottom-width: 0px;
        }

        .numeric-box.theme div.button-holder.vertical .button.theme.minus
        {
            border-top-right-radius: 0px;
            border-top-width: 0px;
        }

.numeric-box.theme .button.theme::after
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -4px;
    border-style: solid;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.numeric-box.theme .button.theme.plus::after
{
    border-top-width: 0;
}

.numeric-box.theme .button.theme.minus::after
{
    border-bottom-width: 0;
}