/*! Componyx.UI | (c) E.H. Daanen / Componyx | BUSL-1.1 | componyx.com/license */
.grid.theme.theme-default
{
    > div.header
    {
        > div:first-child
        {
            background: var(--cui-header-bg-color);

            > table th.fixed-column
            {
                background: var(--cui-header-bg-color);
            }
        }

        > div:has(> table.filter)
        {
            color: var(--cui-color-on-surface);
        }

        > div > table.filter > tbody > tr > td
        {
            background: var(--cui-base-bg-color);
        }

        > div > table > tbody > tr > th.droppable > div
        {
            &::before,
            &::after
            {
                background: var(--cui-header-text-color);
            }
        }
    }

    & table tr
    {
        & td.expand,
        &:hover td.expand
        {
            background: var(--cui-base-bg-color);
            color: var(--cui-base-text-color);
        }
    }

    & tr
    {
        &:not(.disabled):not(.selected):hover > td
        {
            color: var(--cui-item-hover-text-color);
            background: var(--cui-item-hover-bg-color);
        }

        &.selected:not(.select-all)
        {
            > td
            {
                color: var(--cui-item-selected-text-color);
                background: var(--cui-item-selected-bg-color);
            }

            &:hover > td
            {
                color: var(--cui-item-selected-hover-text-color);
                background: var(--cui-item-selected-hover-bg-color);
            }
        }
    }

    > div.content > table > tbody > tr > td > .drag-handle
    {
        background-image: radial-gradient(circle, var(--cui-border-color) 2px, transparent 2.5px), 
                          radial-gradient(circle, var(--cui-border-color) 2px, transparent 2.5px), 
                          radial-gradient(circle, var(--cui-border-color) 2px, transparent 2.5px), 
                          radial-gradient(circle, var(--cui-border-color) 2px, transparent 2.5px);
    }
}