/*! Componyx.UI | (c) E.H. Daanen / Componyx | BUSL-1.1 | componyx.com/license */
.grid.theme.theme-default > div.header > div:has(> table.filter)
{
    color: var(--cui-color-on-surface);
    background: var(--cui-base-bg-color);
}

.grid.theme.theme-default > div.header > div:first-child,
.grid.theme.theme-default > div.header > div:first-child > table th.fixed-column
{
    background: var(--cui-header-bg-color);
}

.grid.theme.theme-default > div.header > div > table > tbody > tr > th.droppable > div::before,
.grid.theme.theme-default > div.header > div > table > tbody > tr > th.droppable > div::after
{
    background: var(--cui-header-text-color);
}

.grid.theme.theme-default table tr td.expand,
.grid.theme.theme-default table tr:hover td.expand
{
    background: var(--cui-base-bg-color);
    color: var(--cui-base-text-color);
}

.grid.theme.theme-default tr:not(.disabled):not(.selected):hover > td
{
    color: var(--cui-item-hover-text-color);
    background: var(--cui-item-hover-bg-color);
}

.grid.theme.theme-default tr.selected:not(.select-all) > td
{
    color: var(--cui-item-selected-text-color);
    background: var(--cui-item-selected-bg-color);
}

.grid.theme.theme-default tr.selected:not(.select-all):hover > td
{
    color: var(--cui-item-selected-hover-text-color);
    background: var(--cui-item-selected-hover-bg-color);
}
