<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
	<div class="view-container">
		<main class="jsdoc">
			<section>
				<div class="app-content">
					<div class="doc-container">
						<h1><?js= title ?></h1>
						<?js= content ?>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>
