/*! Componyx.UI | (c) E.H. Daanen / Componyx | BUSL-1.1 | componyx.com/license */
.box.theme
{
    position: relative;
    display: inline-block;

    > div.modal
    {
        opacity: 0.3;
    }

    > .content
    {
        position: relative;
    }
}
