/*! Componyx.UI | (c) E.H. Daanen / Componyx | BUSL-1.1 | componyx.com/license */
.dialog.theme
{
    --header-height: 36px;
}

    .dialog.theme .box.dialog-box
    {
        display: block;
        z-index: 9;
        min-width: 300px;
    }

    .dialog.theme.collapsed .box.dialog-box
    {
        height: 0px;
    }

    .dialog.theme .box.dialog-box > div.content
    {
        position: relative;
    }

    .dialog.theme.collapsed .box.dialog-box > div.content div.content-holder,
    .dialog.theme.collapsed .box.dialog-box > div.content div.footer
    {
        display: none;
    }

    .dialog.theme .box.dialog-box > div.content
    {
        height: 100%;
    }

        .dialog.theme .box.dialog-box > div.content > div
        {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

            .dialog.theme .box.dialog-box > div.content > div > div.header
            {
                order: 1;
                position: relative;
                height: var(--header-height);
                line-height: var(--header-height);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding-left: 1rem;
            }

            .dialog.theme .box.dialog-box > div.content > div > div.footer
            {
                order: 3;
                padding: 8px;
                text-align: right;
                background: transparent;
            }

            .dialog.theme .box.dialog-box > div.content > div > div.header > *
            {
                line-height: 28px;
                vertical-align: top;
                display: inline-block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .dialog.theme .box.dialog-box > div.content > div > div.header > div.button-holder
            {
                position: absolute;
                right: 8px;
            }

            .dialog.theme .box.dialog-box > div.content > div > div.footer > div.button-holder .button.theme
            {
                margin-left: 8px;
            }

            .dialog.theme .box.dialog-box > div.content > div > div.content-holder
            {
                position: relative;
                order: 2;
                padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-bottom: 1rem;
                max-width: 90vw;
                max-height: calc(90vh - (var(--header-height) + 46px + 2rem)); /* view height minus (header + footer + padding) */
                overflow: auto;
                flex: 1;
            }

    /* close button icon */
    .dialog.theme .box.dialog-box .button.theme.close span.icon::after
    {
        font-family: 'UI';
        content: '\e90a';
    }

    .dialog.theme .box.dialog-box
    {
        background: none;
    }
